<h1>The current time is <%= @time %></h1>

<h2> I am a h2 text.</h2>

<h3>h3 tag here it is.</h3>

<table border="1">
	<th> Employees </th>
	<tr>
	<td>Max</td>
	</tr>

	<tr>
	<td>Annie</td>
	</tr>
	
	<tr>
	<td>Federer</td>
	</tr>
	
</table>

<a href="/say/goodbye"> Please click here to go to goodbye!</a>


<%= link_to 'Goodbye!!', say_goodbye_path %>
